<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <rule name="ReverseProxyAPI">
                    <match url="^api-honda/(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/api-honda/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <webSocket enabled="true" />
    </system.webServer>
</configuration>
